{% extends 'base.html.twig' %}

{% block body %}
    <div id="container">
        <div id="title-container" class="text-gold bg-dark h-16 w-full">
            <h1 class="font-title text-6xl text-center">Administration</h1>
        </div>
        <div class="w-full flex flex-col md:flex-row">
            <nav class="flex flex-row w-full md:flex-col md:w-2/12">
                <div class="tab" id="booking-button">Réservations</div>
                <div class="tab" id="news-button">Nouveautés</div>
                <div class="tab" id="notes-button">Avis</div>
            </nav>
            <div id="booking-div" class="hidden h-fit w-full md:w-10/12">
                <table class="admin-table">
                    <tr>
                        <th>date/heure</th>
                        <th>Nom</th>
                        <th>Email</th>
                        <th>Téléphone</th>
                    </tr>
                    <tr>
                        <td>01/01/2024 12:30</td>
                        <td>Relou</td>
                        <td>jmrelou@gmail.com</td>
                        <td>0606060606</td>
                    </tr>
                    <tr>
                        <td>01/01/2024 12:30</td>
                        <td>Relou</td>
                        <td>jmrelou@gmail.com</td>
                        <td>0606060606</td>
                    </tr>
                    <tr>
                        <td>01/01/2024 12:30</td>
                        <td>Relou</td>
                        <td>jmrelou@gmail.com</td>
                        <td>0606060606</td>
                    </tr>
                    <tr>
                        <td>01/01/2024 12:30</td>
                        <td>Relou</td>
                        <td>jmrelou@gmail.com</td>
                        <td>0606060606</td>
                    </tr>
                    <tr>
                        <td>01/01/2024 12:30</td>
                        <td>Relou</td>
                        <td>jmrelou@gmail.com</td>
                        <td>0606060606</td>
                    </tr>
                    <tr>
                        <td>01/01/2024 12:30</td>
                        <td>Relou</td>
                        <td>jmrelou@gmail.com</td>
                        <td>0606060606</td>
                    </tr>
                    {# TODO Connect table to back #}
                </table>
            </div>

            <div id="news-div" class="hidden h-fit w-full md:w-10/12">
                <form action="{# TODO #}" class="flex flex-col w-full items-center">
                    <label for="title" class="font-sub-title text-dark text-3xl">Titre</label>
                    <input type="text" id="title" class="m-3 border border-dark rounded-full p-2">

                    <label for="content" class="font-sub-title text-dark text-3xl">Contenu</label>
                    <textarea name="content" id="content" cols="45" rows="5" class="m-3 border border-dark rounded-2xl p-2"></textarea>

                    <input type="submit" class="block bg-dark rounded-full p-4 pb-5 m-1 font-bold text-gold text-3xl hover:underline text-center w-5/12 cursor-pointer">
                </form>
            </div>

            <div id="notes-div" class="hidden h-fit w-full md:w-10/12">
                <table class="admin-table">
                    <tr>
                        <th>date/heure</th>
                        <th>Nom</th>
                        <th>Contenu</th>
                        <th>Note</th>
                    </tr>
                    <tr>
                        <td>01/01/2024 12:30</td>
                        <td>Relou</td>
                        <td>Bof, j'aime pas les pizzas, vraiment pas très bon, en plus la sauce tomate sentait pas bon, je pense qu'ils mettent le reste des bouteilles de ketchup périmé dedans, A fuir. De plus, il y avais des arretes dans ma pizza au thon, et en plus j'aime pas le thon, mais la jaimais bien, donc je pense quils ont mis des sardines à la place du thon, c'était ou lmoins meilleur que le thon, parcque en fait j'aime bien les sardines, apres, c'était pas aussi bon que ques les sardines 'la belle iloise' qui est ma marque de sardines préférée !!!!!, sinon je vous conseil de manger en face, ils font des supers sushis frais pour pas trop cher (13€ le menu a volonté c'est vraiment une affaire !!!!!)</td>
                        <td>1/5</td>
                    </tr>
                    <tr>
                        <td>01/01/2024 12:30</td>
                        <td>Relou</td>
                        <td>Bof, j'aime pas les pizzas, vraiment pas très bon, en plus la sauce tomate sentait pas bon, je pense qu'ils mettent le reste des bouteilles de ketchup périmé dedans, A fuir. De plus, il y avais des arretes dans ma pizza au thon, et en plus j'aime pas le thon, mais la jaimais bien, donc je pense quils ont mis des sardines à la place du thon, c'était ou lmoins meilleur que le thon, parcque en fait j'aime bien les sardines, apres, c'était pas aussi bon que ques les sardines 'la belle iloise' qui est ma marque de sardines préférée !!!!!, sinon je vous conseil de manger en face, ils font des supers sushis frais pour pas trop cher (13€ le menu a volonté c'est vraiment une affaire !!!!!)</td>
                        <td>1/5</td>
                    </tr>
                    <tr>
                        <td>01/01/2024 12:30</td>
                        <td>Relou</td>
                        <td>Bof, j'aime pas les pizzas, vraiment pas très bon, en plus la sauce tomate sentait pas bon, je pense qu'ils mettent le reste des bouteilles de ketchup périmé dedans, A fuir. De plus, il y avais des arretes dans ma pizza au thon, et en plus j'aime pas le thon, mais la jaimais bien, donc je pense quils ont mis des sardines à la place du thon, c'était ou lmoins meilleur que le thon, parcque en fait j'aime bien les sardines, apres, c'était pas aussi bon que ques les sardines 'la belle iloise' qui est ma marque de sardines préférée !!!!!, sinon je vous conseil de manger en face, ils font des supers sushis frais pour pas trop cher (13€ le menu a volonté c'est vraiment une affaire !!!!!)</td>
                        <td>1/5</td>
                    </tr>
                    <tr>
                        <td>01/01/2024 12:30</td>
                        <td>Relou</td>
                        <td>Bof, j'aime pas les pizzas, vraiment pas très bon, en plus la sauce tomate sentait pas bon, je pense qu'ils mettent le reste des bouteilles de ketchup périmé dedans, A fuir. De plus, il y avais des arretes dans ma pizza au thon, et en plus j'aime pas le thon, mais la jaimais bien, donc je pense quils ont mis des sardines à la place du thon, c'était ou lmoins meilleur que le thon, parcque en fait j'aime bien les sardines, apres, c'était pas aussi bon que ques les sardines 'la belle iloise' qui est ma marque de sardines préférée !!!!!, sinon je vous conseil de manger en face, ils font des supers sushis frais pour pas trop cher (13€ le menu a volonté c'est vraiment une affaire !!!!!)</td>
                        <td>1/5</td>
                    </tr>
                    <tr>
                        <td>01/01/2024 12:30</td>
                        <td>Relou</td>
                        <td>Bof, j'aime pas les pizzas, vraiment pas très bon, en plus la sauce tomate sentait pas bon, je pense qu'ils mettent le reste des bouteilles de ketchup périmé dedans, A fuir. De plus, il y avais des arretes dans ma pizza au thon, et en plus j'aime pas le thon, mais la jaimais bien, donc je pense quils ont mis des sardines à la place du thon, c'était ou lmoins meilleur que le thon, parcque en fait j'aime bien les sardines, apres, c'était pas aussi bon que ques les sardines 'la belle iloise' qui est ma marque de sardines préférée !!!!!, sinon je vous conseil de manger en face, ils font des supers sushis frais pour pas trop cher (13€ le menu a volonté c'est vraiment une affaire !!!!!)</td>
                        <td>1/5</td>
                    </tr>
                    <tr>
                        <td>01/01/2024 12:30</td>
                        <td>Relou</td>
                        <td>Bof, j'aime pas les pizzas, vraiment pas très bon, en plus la sauce tomate sentait pas bon, je pense qu'ils mettent le reste des bouteilles de ketchup périmé dedans, A fuir. De plus, il y avais des arretes dans ma pizza au thon, et en plus j'aime pas le thon, mais la jaimais bien, donc je pense quils ont mis des sardines à la place du thon, c'était ou lmoins meilleur que le thon, parcque en fait j'aime bien les sardines, apres, c'était pas aussi bon que ques les sardines 'la belle iloise' qui est ma marque de sardines préférée !!!!!, sinon je vous conseil de manger en face, ils font des supers sushis frais pour pas trop cher (13€ le menu a volonté c'est vraiment une affaire !!!!!)</td>
                        <td>1/5</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <script src="{{ asset('js/admin.js') }}"></script>
{% endblock %}